[user]
	name = Carcuis
	email = ctx1256@foxmail.com
[pull]
	ff = only
[advice]
	diverging = false

# delta
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true
    tabs = 4
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# end

[credential "https://github.com"]
	username = Carcuis
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	username = Carcuis
	helper = !gh auth git-credential

