Plug 'vim-commentary'
Plug 'vim-surround'
Plug 'vim-highlightedyank'
let g:highlightedyank_highlight_color = "rgba(41, 68, 54, 255)"

set nu
set rnu
set incsearch
set ignorecase
set smartcase
set easymotion
set scrolloff=5
set sidescrolloff=10
set timeoutlen=500
set visualbell
set ideajoin

let mapleader = "\<space>"

for mapping in ['jj', 'jk', 'kj', 'kk', 'jl', 'jh']
    execute 'inoremap '.mapping.' <esc>'
    execute 'cnoremap '.mapping.' <C-c>'
endfor

" -- see: https://blog.jetbrains.com/zh-hans/clion/2023/11/clion-nova/
if &ide == 'clion'
    let g:nova = 0
endif

" code navigation
if g:nova
    map gd <Action>(GotoDeclaration)
else
    map gd <Action>(GotoDeclarationOnly)
endif
map ge <Action>(GotoImplementation)
map gs <Action>(GotoSuperMethod)
map gr <Action>(ShowUsages)
map gt <Action>(GotoTypeDeclaration)
map gh <Action>(GotoRelated)
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map <C-k> <Action>(VcsShowPrevChangeMarker)
map <C-j> <Action>(VcsShowNextChangeMarker)
if g:nova
    nmap <C-n> g*
    vmap <C-n> *<esc>
endif
nmap <C-p> g#
vmap <C-p> #<esc>

" IDE actions
map ru <Action>(Run)
map rd <Action>(Debug)
map rn <Action>(RenameElement)
map <c-t> <Action>(ActivateTerminalToolWindow)
map <Leader>fr <Action>(RecentFiles)
map <Leader>ff <Action>(GotoFile)
map <Leader>fw <Action>(FindInPath)
imap <C-e> <Action>(CodeCompletion)
if ! g:nova
    map <C-n> <Action>(GotoNextElementUnderCaretUsage)
    map <C-p> <Action>(GotoPrevElementUnderCaretUsage)
endif
map <M-e> <Action>(ShowHoverInfo)
vmap <leader>tr <Action>($EditorTranslateAction)<esc>
imap <M-a> <Action>(copilot.applyInlays)
imap <M-n> <Action>(copilot.cycleNextInlays)
imap <M-p> <Action>(copilot.cyclePrevInlays)
imap <M-Right> <Action>(copilot.applyInlaysNextWord)
imap <M-C-Right> <Action>(copilot.applyInlaysNextLine)
map f <Action>(KJumpAction.Char2)
map F <Action>(KJumpAction.Char2)
nmap <C-c> <Action>(HideActiveWindow)
map <CR> <Action>(EditorSelectWord)
map <leader>b <Action>(ToggleLineBreakpoint)

" navigate windows
map <M-h> <C-w>h
map <M-j> <C-w>j
map <M-k> <C-w>k
map <M-l> <C-w>l
map <leader>sp :split<CR>
map <leader>v :vsplit<CR>
map H :tabp<cr>
map L :tabn<cr>
map <leader>c :bd<cr>

" copy and paste
map <leader>y "+y
map <Leader>d "+d
map <leader>p "+p
map <leader>P "+P

" cursor movement
map <c-h> 10zh
map <c-l> 10zl
imap <c-j> <esc>o
imap <c-k> <esc>O
imap <c-h> <esc>I
imap <c-l> <esc>A

" misc
map <M-s> :w<CR>
map <leader>q :q<CR>
map <leader>wq :wq<CR>
map <leader>sf <Action>(IdeaVim.ReloadVimRc.reload)
map DC yypk:action CommentByLineComment<CR>
map DR ddk:action CommentByLineComment<CR>k

" IDE keymap (File -> Settings) manually setup
" Editor Actions :
"     [Escape] -> Add Keyboard Shortcut -> Ctrl+C
"     [Up] -> Add Keyboard Shortcut -> Ctrl+K, Ctrl+P
"     [Down] -> Add Keyboard Shortcut -> Ctrl+J, Ctrl+N
