Plugin 'vim-commentary'
Plugin 'vim-surround'

set nu
set rnu
set incsearch
set easymotion
set scrolloff=5

let mapleader = "\<space>"

imap jj <esc>
cmap jj <esc>

map <leader>w :w<CR>
map <leader>q :q<CR>
map <leader>wq :wq<CR>
" map <leader>fq :q!<CR>
map <leader>aq :q<CR><leader>aq
map <leader>ewq :wq<CR><leader>ewq

map <leader>h <C-w>h
map <leader>j <C-w>j
map <leader>k <C-w>k
map <leader>l <C-w>l
map <leader>s <C-w>s
map <leader>v <C-w>v

map <leader>n :tabp<CR>
map <leader>m :tabn<CR>

map <leader>cp "+y<CR>
map <leader>p "+p<CR>

map <c-h> 10zh
map <c-l> 10zl
imap <c-h> 10zh
imap <c-l> 10zl

map H :bp<cr>
map L :bn<cr>
